<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% docs.forEach(function(user){ %>
        <li>
            <%= user.username %> | <%= user.email %>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
<!--
<!DOCTYPE html>
<html lang="en">
 
<head></head>
 
<body>
    <h1 class="text-center title-1"> Cadastro de Usuario </h1>
    <form action="/user" method="post">
        <p>Username:<input type="text" name="username" /></p>
        <p>Email:<input type="text" name="email" /></p>
        <p><input type="submit" value="Salvar" /></p>
    </form>
</body>
 
</html>
-->