<!DOCTYPE html>
<html lang="pt">
 
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
 
<body>
    <center>
    <form action="/users" method="post">
        
            <legend>Cadastro de Usuário</legend>
            <label>Nome:</label><input class="campo_nome" type="text" name="nome" /></label>
            <label>Sobrenome:</label><input class="" type="text" name="sobrenome" />
            <label>Email:</label><input class="campo_email" type="text" name="email" />
            <label>Idade:</label><input type="number" name="idade" />
            <label>Cidade:</label><input type="text" name="cidade" />
            <label>Estado:</label><input type="text" name="uf" />
            <label>CEP:</label><input type="text" name="cep" />
            <label>Senha:</label><input type="password" name="senha" />
            <input type="submit" value="Salvar" />
            <input type="button" name="cancela" onClick="window.location.href='http://localhost:3000/'" value="Voltar">
            
    </form>
</center>
</body>
 
</html>